*, body, p {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    position: relative;
    padding-bottom: 250px;
}

    body > .container {
        padding: 60px 15px 0;
        min-height: 100%;
        position: relative;
    }

img {width: 100%;}

h5 {font-size: 16px; line-height: 23px;}

p {font-weight: 400;}
ol {font-weight: bold;}

a:hover {text-decoration: none!important;}
a, button {
    cursor: pointer;
}

    a.text-link {
        background: none;
        padding: 0!important;
        margin: 0!important;
        color: #337ab7!important;
    }
    a.text-link:hover {
        background: none!important;
    }
.border-right {border-right: 1px solid #eaeaea}
@media (max-width: 768px) {
    .border-right {border: 0;}
}

.row {
    margin-bottom: 20px;
}

label {display: block;}

.text-left {text-align: left!important;}

.d-inline {display:inline!important;}

.alert-info {
    background-color: #cce5f3;
    color: #1E325F;
    border-color: #017CC1;
}
.alert-info h1 {margin-top: 0; font-size: 18px; line-height: 21px;}

.alert-secondary {
    background-color: #fafafa;
    border: 1px solid #eaeaea;
}

/*
.fa-circle-o {
    font: normal normal normal 14px/1 FontAwesome;
}
.fa-circle-o:before {
    content: "\f10c";
}
    */

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
}
.table td h4 {margin:0;}

.fa-circle-o {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #585858;
    position: relative;
    top: 2px;
}

/* Sticky footer styles */
.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    height: 250px;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

a, #btn-help-open, #btn-about-open, #toggle-link, #btn-feedback-open, #btn-faq-open {
    cursor: pointer;
}

#frmFeedbackLoader img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

#btn-feedback-open {
    background-color: #ffffff;
    padding: 5px 10px;
    top: 9px;
    color: #1E325F;
    font-weight: 600;
    margin-right: 15px;
}

@media (max-width: 500px) {
    #btn-feedback-open {
        color: #ffffff;
        margin-bottom: 1em;
        text-align: left;
        margin-left: .3em;
        background: none;
    }
}

    #toggle-link:hover {
        text-decoration: none;
    }

.printOnly, .printOnly-inline {
    display: none;
}

.border-box {
    border: 1px solid #eaeaea;
    background-color: #fafafa;
    padding: .5em;
}
.border-box .checkbox-inline {padding-top:0;}

.text-muted {
    font-style: italic;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

h4 {margin-top:0;}
.panel-body h4.text-muted {font-size: 12px; margin-bottom: 1em;}
h4.text-value {font-size: 14px;}

.btn-default:hover {
    color: #ffffff;
    background-color: #017BC0;
    border-color: #017BC0;
}

.text-light-gray {color: #bebebe;}

.k-toolip {
    font-size: 14px; 
    line-height: 21px;
    
}

.row-no-gutters [class*=col-] {
    padding-right: 0px;
    padding-left: 0px;
}

/****************************************      NAVIGATION       **************************************************/
.navbar-default {
    background-color: #fff;
    border: none;
    margin-bottom: 0;
}

    .navbar-default .navbar-brand {
        color: #fff;
    }

        .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
            color: #fff;
        }

    .navbar-default .navbar-nav > li > a {
        color: #fff;
    }

        .navbar-default .navbar-nav > li > a:hover {
            color: #fff;
            text-decoration: underline;
        }

    .navbar-default .container {
        background-color: #1E325F;
    }

.nav-pills {
    padding-bottom: 10px;
}

    .nav-pills > li:last-child {
        border-right: none;
    }

    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: #23355F;
        font-weight: bold;
    }
        .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
            background: none;
        }

.nav > li > a:hover {
    background: none;
    color: #23527c;
}

    .nav-pills > li > a, .nav-pills > li > a:focus {
        color: #337ab7;
        font-weight: bold;
        padding: 0 10px 0 10px;
        margin-top: 10px;
        border-right: 2px solid #DCDCDC;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        background: none;
    }

    .nav-pills > li:first-child > a {
        padding: 0 10px 0 0;
    }

    .nav-pills > li > a.true-last {
        border-right: none;
    }

@media (max-width: 768px) {
    .navbar-default .container {width: 100%;}
}
@media (max-width: 500px) {
    .navbar-collapse {
        width: 100%;
        margin: auto !important;
    }
}

.user-info {
    background-color: #eaeaea;
}
.user-info .text-right {margin-top: 10px;}

.navbar-default .navbar-nav > li > a:hover {
    color: #bebebe;
}
#btn-feedback-open:hover {
    background-color: #bebebe;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(30,50,95);
    background: rgba(30,50,95, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 9999;
}

    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 16px;
        top: 13px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover {
        background: rgba(30,50,95, 0.9);
    }

        #return-to-top:hover i {
            color: #fff;
            top: 5px;
        }

#logoutForm #navbar, #navbar li:last-child a  {
    padding-right: 0;
}

/**************************************    BUTTONS     ***********************************************/
.btn-default, .btn-characteristics {
    color: #fff;
    background-color: #1E325F;
    border-color: #9EA1AD;
}

    .btn-default.disabled:hover, .btn-default[disabled]:hover, .btn-compare:hover {
        background-color: #1E325F;
        color: #fff;
    }

.btn-link {
    padding-left: 0;
}

.btn-primary {
    color: #fff;
    background-color: #F57E22;
    border-color: #F57E22;
    font-weight: bold;
}

.btn-link {
    padding: 0 0;
}

.btn-compare, .btn-characteristics:hover {
    color: #fff;
    background-color: #8E98AF;
}

/***************************************      HEADINGS      ************************************************/
h1 {
    color: #23355F;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
}

    h1.program-detail-name {
        font-size: 26px;
        font-weight: 600;
        margin: 0 0;
        padding-bottom:.5em;
    }

h2 {
    color: #F57E32;
    font-size: 22px;
}

.panel-heading h2, .panel-title h2 {
    color: #ffffff;
    font-size: 21px;
    line-height: 29px;
    margin: 0;
    font-weight: 600;
    display: inline-block;
}
.panel-heading {
    font-size: 16px;
    line-height: 24px;
    text-shadow: 3px 3px 7px rgba(0,0,0,.75);
}

.panel-db-home .panel-heading h2 {
    padding: 0 0;
    margin: 0 0;
    display: inline-block;
    position: relative;
    top: -10px;
}

.chart-group h4 {
    text-align: center;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 18px 0 18px 0;
    color: #017CC1;
}

#containerSiteHeader {
    height: 88px;
    background-image: url('../images/aamc_ret_header_1170x88.jpg');
    max-width: 1170px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

#containerSiteHeaderLogin p, #containerSiteHeaderLogin p.text-muted {
    font-size: 16px;
}


@media (max-width: 768px) {
    #containerSiteHeader {width: 100%; margin: 0;}
}
@media (max-width: 500px) {
    #containerSiteHeaderLogin {
        min-height: 260px;
        height: 260px;
    }
        #containerSiteHeaderLogin h1 {
         font-size: 24px;
         top: 78%;
         }
}

.partner-logos img {height: 50px; width: auto; margin: 0px auto; display: block;}
.modal-body .partner-logos img {
    height: 40px;
}

/*.footer .partner-logos img {
    height: 20px;
}*/
.footer .partner-logos img {height: 40px;}

/****************************************      PANELS       **************************************************/
.panel-default > .panel-heading {
    color: #fff;
    background: url('../images/bg-panel-heading.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: darken; /* Not supported in Microsoft Edge */
    background-color: #1057ab;
}

.panel-title {
    font-weight: bold;
}

.panel-body .row:last-child {
    margin-bottom:0;
}

.panel-db-home .panel-heading {
    height: 80px;
}
.panel-db-home .panel-heading::before {
    display: inline-block;
    height: 47px;
    width: 60px;
    content: '';
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.75);
    top: 10px;
    position: relative;
}

.panel-heading p {margin-top: 10px;}
.panel-group .panel {margin-top: 35px!important;}

#panelProfile .panel-heading::before {
    background: url('../images/ico-profile.png') no-repeat;
    background-size: 80%;
}

#panelExplore .panel-heading::before {
    background: url('../images/ico-explore.png') no-repeat;
    background-size: 85%;
}

#panelCompare .panel-heading::before {
    background: url('../images/ico-compare.png') no-repeat;
    background-size: 80%;
}

.panel-title #toggle-link .row {margin-bottom: 0;}
.panel-title #toggle-link .pull-right {display: inline-block;}

.panel-body {padding: 20px;}

.panel-body .row {margin-bottom: 0px;}

@media (max-width: 690px) {
    .panel-title #toggle-link .pull-right {float: none!important; text-align: right; margin-top: 10px; display: block;}
    .panel-title #toggle-link .pull-right .fa-question-circle {float: left!important;}
}

/****************************************      FONTS       **************************************************/

.total-applicants {
    color: #23355F;
    font-size: 24px;
    font-weight: bold;
}

/****************************************      Misc       **************************************************/
hr {border-color: #ddd;}

.chg-pass-msg-right {
     margin-left: 55%;
     padding-top: 4.5%;
     width: 55%;
     vertical-align: baseline;
}

.sticky-header {
    position: fixed;
    width: 100%;
    display: block;
    z-index: 99999;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .9);
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

#overlay, #overlayEdit {
    background: #ffffff;
    color: #666666;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    text-align: center;
    opacity: .9;
    transition: ease-in;
    z-index: 99999;
}
    #overlay img, .overlay, #overlayEdit img {
        width: 50px;
        height: 50px;
    }
#overlay div, #overlayEdit div {
    position: relative;
    top: 50%;
    opacity: 1;
    font-weight: bold;
    font-size: 24px;
}

.privacy-statement {
    font-size:12px;
    font-style:italic;
    padding-top:15px; 
}

.specialties div.radio {
    margin-bottom: 0;
}

table tr:last-child {
    border-bottom: 1px solid #dddddd;
}
/****************************************      LOGIN       **************************************************/
.validation-summary-errors ul {
    list-style-type: none;
}

#containerSiteHeaderLogin {
    padding-left: 0;
    padding-right: 0;
    display: block;
    display: block;
    background-image: url('../images/LoginPage_Header_1170x400.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1170px;
    height: 372px;
    /*    Temporary remove while login button is hidden, below adjusts the banner
    height: 300px;
    background-position-y: -40px;
    */
}
    #containerSiteHeaderLogin div {
        width: 50%;
        position: relative;
        left: 50%;
        background: rgba(0,0,0,.5);
        top: -7%;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-top: 25px;
        padding-right: 20px;
    }
    
    #containerSiteHeaderLogin h1 {
        position: relative;
        top: 10%;
        text-align: left;
        font-size: 28px;
        color: #ffffff;
        text-shadow: 1px 2px 7px rgba(0,0,0,0.90);
        font-weight: 500;
        text-transform: uppercase;
        border-bottom: 1px solid;
        padding-bottom: 15px;
    }
        #containerSiteHeaderLogin p {
            color: #ffffff;
        }
    #containerSiteHeaderLogin .text-muted {
        font-size: 16px;
        padding-top: 15px;
        color: #ffffff;
        padding-bottom: 10px;
    }

        .btn-wrapper {
            position: relative;
            text-align: center;
            top: 24%;
        }

h2.siteheader-banner {
    font-weight: bold;
    background-color: #f6f6f6;
    padding: 20px;
    margin: 0;
    border-bottom: 2px solid;
    color: #017CC1;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}

.login h4 {margin-top: 30px;}
@media (max-width: 500px) {.login h4 {margin-top: 0;}}

.login .border-box {
    margin: 30px auto;
    padding: 20px;
}
    .login .border-box h4, .login .border-box .row {
        margin: 0;
    }

.login h3 {margin-top: 0;}
.login li {font-weight: bold; padding-bottom: 5px;}
.login em {font-weight: normal;}

/* Responsive fixes */
@media only screen and (max-width: 768px) {
    h2.siteheader-banner {margin-left: -9px; margin-right: -9px;}
    .partner-logos img {
        width: 70%;
        height: auto !important;
    }
    .container#containerSiteHeaderLogin {
        width: 100% !important;
        background-position-x: -135px;
        height: 375px;
    }
    #containerSiteHeaderLogin div {
        width: 70%;
        left: 30%;
    }
}

@media (max-width: 450px) {
    h2.siteheader-banner {
        margin: 0;
    }
        .partner-logos img {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .partner-logos .col-sm-2 {
        margin-left: 0!important;
    }
    .container#containerSiteHeaderLogin {
        height: 463px;
        text-align: center;
    }
    #containerSiteHeaderLogin p {
        font-size: 16px;
    }
    #containerSiteHeaderLogin div {
        width: 100%;
        left: 0;
    }
}

/****************************************      PROGRAM DETAIL GRAPHS       **************************************************/
.similarity-header {
    padding: 8px 0;
    font-size: 18px;
    color: #F47E21;
    margin-bottom: 0px;
    font-weight: bold;
}

.similarity-headings {
    font-weight: bold;
    font-size: 11px;
}

.similarity-footer {
    border-top: 1px solid #E5E5E5;
    padding: 8px 0;
}

#SimilarityPanel .row {
    margin-right: 0 !important;
}

.panel-heading .fa-question-circle {
    margin-right: 14px;
}

.resident-exp-label-col-3 {
    margin-top: 38px;
    text-align: right;
}

.resident-exp-label-col-3b {
    margin-top: 62px;
    text-align: right;
}

.resident-exp-label-col-2 {
    margin-top: 70px;
    text-align: right;
}

.resident-exp-sm-txt {
    margin-top: 5px;
    font-size: 12px;
}

.race-eth-categories {
    text-align: right;
    margin-top: 57px;
    font-size: 12px;
}

.age-category {
    text-align: right;
    margin-top: 65px;
}

    .age-category .row {
        margin-bottom: 48px;
    }

.sex-category {
    text-align: right;
    margin-top: 65px;
}

    .sex-category .row {
        margin-bottom: 48px;
    }

.med-student-type-category {
    text-align: right;
    margin-top: 75px;
}

    .med-student-type-category .row {
        margin-bottom: 60px;
    }

.resident-career-plans-categories {
    text-align: right;
    margin-top: 43px;
}

    .resident-career-plans-categories .row {
        margin-bottom: 62px;
    }

.top10Category {
    margin-top: 58px;
    text-align: right;
}

.top10Category .row{
  margin-bottom: 40px;
}

.table-bordered th {
    font-weight: 500;
}
.table-bordered tr.active th {font-weight: 600;}
.table .text-muted {margin:0;}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {border-left: 0; border-right: 0;}

.table-bordered.table-condensed > tbody > tr > td, .table-bordered.table-condensed > tbody > tr > th, .table-bordered.table-condensed > tfoot > tr > td, .table-bordered.table-condensed > tfoot > tr > th, .table-bordered.table-condensed > thead > tr > td, .table-bordered.table-condensed > thead > tr > th {
    border: 1px solid #ddd;
}
/****************************************      PROFILE       **************************************************/
.form-horizontal label {
    display: inline-block !important;
}
.form-group {margin-bottom: 15px!important;}

/****************************************      Kendo Grids       **************************************************/

/* HTML Legend */
.panel-body .row.legend {
    margin-bottom: 2em;
}
.legend .blue {color: #017BC0;}
.legend .green {color:#8CC53F;}
.legend .green-value {
    background-color: #E0F0CC;
    padding: 5px;
    color: #2E562E;
    border-radius: 5px;
    margin-right: 10px;
    border: 2px solid #8CC53F;
}
.legend .orange {color:#F47E21;}
.legend h3 {display: inline-block; position:relative; top: 8px; margin-bottom: 30px;}

.chart-group {margin-bottom: 2.5em;}

.panel h3 {margin-top: 0;}

.k-filter-row th, .k-grid-header th.k-header,
.k-grid-content table td{
    padding: 0.6em;
}
.k-grid-content .k-loading-image {
    background-image: url('../images/loader.gif');
}
.k-grid-content .k-loading-text {
    visibility: hidden;
    position: relative;
}
    .k-grid-content .k-loading-text:after {
        visibility: visible;
        position: absolute;
        text-indent: 0px;
        top: 0;
        left: 0;
        color: black;
        font-size: 16px;
        font-weight: bold;
        width: 1100px;
        background-color: #fafafa;
        content: 'Processing. Please wait...';
    }
.k-grid-content {
    min-height: 150px;
}

/****************************************      EXPLORE       **************************************************/

#btnClearSearch, #clearAll {font-size: 12px;}

#exploreGridBtnRow .btn-link {position: relative; top: 5px;}

.profile-tooltip {
    position: absolute;
    z-index: 999;
    top: 88px;
    right: 324px;
    /*need to hide the icon that seems to be permanently in the grid*/
    background-color: #fafafa;
}
#profileComparison {color: #000000;}

.btnComparison-wrapper {display: block; }
@media (min-width: 500px) {
    .btnComparison-wrapper {
        margin-top: 27px;
    }
}

.k-grid-header-wrap .k-link {
    color: #000000 !important;
}

span#sortInfo br {
    display: none;
}

/* side filters*/
.h4, h4 {
    font-size: 18px;
    line-height: 26px;
}

#StateInnerDiv div, #ProgramSettingInnerDiv div, #ProgramTypeInnerDiv div, #VisaAcceptedInnerDiv div {
    display: none;
}

    #StateInnerDiv div {margin-left: 0;}

    #StateOuterDiv #showLess, #ProgramSettingOuterDiv #showLess, #ProgramTypeOuterDiv #showLess, #VisaAcceptedOuterDiv #showLess {
        display: none;
    }

.k-grid-header-wrap table, .k-grid-content table {
    min-width: 100%;
}

.k-grid tr:hover {background-color: #fafafa;}

/*Vertical*/
#grid .k-grid-header .k-header .verticalText {
    display: inline-block;
    white-space: nowrap;
    transform: translate(0,100%) rotate(-90deg);
    transform-origin: 0 0;
    position: absolute;
    bottom: 10px;
}

#grid .k-grid-header .k-header {
    height: 80px !important;
}
#grid .k-grid-header .k-header.group-header {
    height: 20px !important;
    text-align: center;
}
#grid .k-grid-header .k-header.wider-header {
    height: 100px !important;
}

.k-grid-content table td .explr_mylist,
.k-grid-content table td .explr_comp {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

#programGridBtnRow .btn-back {
    margin-right: 14px !important;
}

#exploreGridBtnRow #btnComparison {
    margin-right: 0px !important;
}

/* Filter sidebar */
.filters label {font-weight: 500; display: inline!important;}
.filters h4 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 0;
    color: #F57E32;
    display: block;
}

.filters h3 {font-size: 16px; margin-bottom: 10px; margin-top: 10px; line-height: 24px;}
@media (max-width: 500px) {
    .filters h2 {margin-right: 0;}
    }

.filters #RegionOuterDiv, .filters #StateOuterDiv, .filters #ProgramSettingOuterDiv, .filters #VisaAcceptedOuterDiv {
    margin-bottom: 20px;
}

.filters .location-fields {margin-bottom: 10px;}
.filters .form-group strong {display:inline-block; margin-bottom: 5px;}
.filters .location-fields .btn-link {
    font-size: 12px !important;
}
.filters .location-fields .btn {
    margin-bottom: 10px;
}
.filters .location-fields .btn.disabled {
    background-color: #eaeaea;
    color: #999999;
}

.filters #loadMore, .filters #showLess {
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
    color: #337ab7;
    cursor: pointer;
}
    .filters #loadMore:hover, .filters #showLess:hover {
        color: #1E325F;
    }


    /*.filters .btn {
        background-color: #e6e6e6;
        color: #333;
    }
.filters .btn:hover {background-color: #dadada;}*/

.explore-legend span {
    font-size: 13px;
}

.explore-legend {padding: 20px; text-align: center;}

/* Grid Tooltip for icons */

.grid-tooltip + .tooltip > .tooltip-inner {
    border: 3px solid #737373;
    background: rgba(238,238,238,1);
    padding: 10px;
    color: #333333;
    font-size: 14px;
    line-height: 18px;
    border-radius: 0;
}
.grid-tooltip  + .tooltip.bottom > .tooltip-arrow {
    border-bottom: 5px solid #737373;
}
/****************************************      COMPARISON       **************************************************/
.k-dropdown {
    border: 1px solid #bebebe;
}

.form-checkbox-comparison {
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

#comparisonGridBtnRow .btn-default {
    margin-left: 14px !important;
}

.form-checkbox-comparison label {
    font-weight: 500;
}

#comparisonGridBtnRow #SelectALL {border-right: 1px solid #bebebe; padding-right: 10px;}

.form-checkbox-comparison {font-size: 12px;display:flex;}
.form-checkbox-comparison label {display: inline!important;}


/****************************************      RATEIT       **************************************************/
.rateit .rateit-selected {
    background-position-y: -32px;
    color: #FEBC11 !important;
}
/****************************************      TOOLTIPS       **************************************************/
.k-tooltip {
    padding:3px;
}
.k-tooltip-content {
    background-color: #eeeeee;
    text-align:left;
    color:#333333;
    padding:15px;
}
/****************************************      GRID FILTER ELEMENTS       **************************************************/
.k-filter-menu.k-popup.k-group.k-reset.k-state-border-up input[type=radio], .k-filter-menu.k-popup.k-group.k-reset.k-state-border-up input[type=checkbox] {
    margin-right: 5px;
}
.k-filter-menu.k-popup.k-group.k-reset.k-state-border-up label {
    font-weight: normal;
    font-size: 13px;
    margin: 5px;
}
.k-grid-filter.k-state-active {
    background-color: #E3E5EB;
}

/****************************************     Program Details      ****************************************/

#toggle-link .fas {width: 15px;}
#toggle-link span:first-child {
    position: relative;
    top: 3px;
}

/*#SimilarityPanel h3 {
    color: #000;
    font-size: 18px;
    font-weight: normal;
}*/

.text-dark-blue {
    color: #4a588a;
}
h5.text-dark-blue {margin: 0;}


.alert-success {
    border-color: #8CC53F;
    margin-top: 20px;
    font-size: 13px;
    color: #2E562E;
    background-color: #E0F0CC;
    border-width: 2px;
}

.panel .form-group {
    margin-bottom: 30px!important;
}

/* PDF */
.page-template > * {
    position: absolute;
    left: 20px;
    right: 20px;
    font-size: 90%;
}

.page-template .header {
    top: 20px;
    height: 150px;
    width: 1285px;
    display: block;
    background-image: url('../images/aamc_ret_header_1170x88.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    background-color: #1E325F;
}

    .page-template .header h1 {
        font-size: 24px;
        color: #ffffff;
        text-align: center;
        font-weight: 600;
        text-shadow: 3px 3px 7px rgba(0,0,0,.75);
        background-color: #1E325F;
        width: 100%;
        padding: 10px;
        position: relative;
        top: 100px;
    }

.page-template .footer {
    bottom: -150px;
    border-top: 1px solid #ccc;
}


kendo-pdf-document .content-wrapper {margin-top: 170px;}

/*Back to top */
#scroll {
            position: fixed;
            right: 10px;
            bottom: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            background-color: #3498db;
            text-indent: -9999px;
            display: none;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px
        }

    #scroll span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -12px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #ffffff;
    }

    #scroll:hover {
        background-color: #e74c3c;
        opacity: 1;
        filter: "alpha(opacity=100)";
        -ms-filter: "alpha(opacity=100)";
    }

    .table.text-left td {
        text-align: left;
    }

/* MultiSelect */
.selectMultiple {
    position: relative;
}

    .selectMultiple select {
        display: none;
    }

    .selectMultiple > div {
        position: relative;
        z-index: 2;
        padding: 8px 12px 2px 12px;
        border-radius: .25rem;
        background: #fff;
        font-size: 14px;
        min-height: 44px;
        border: 1px solid #ddd;
    }

        .selectMultiple > div .arrow {
            right: 1px;
            top: 0;
            bottom: 0;
            cursor: pointer;
            width: 28px;
            position: absolute;
        }

            .selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
                content: '';
                position: absolute;
                display: block;
                width: 2px;
                height: 8px;
                border-bottom: 8px solid #99A3BA;
                top: 43%;
                transition: all .3s ease;
            }

            .selectMultiple > div .arrow:before {
                right: 12px;
                -webkit-transform: rotate(-130deg);
                transform: rotate(-130deg);
            }

            .selectMultiple > div .arrow:after {
                left: 9px;
                -webkit-transform: rotate(130deg);
                transform: rotate(130deg);
            }

        .selectMultiple > div span {
            display: block;
            position: absolute;
            left: 12px;
            cursor: pointer;
            top: 8px;
            transition: all .3s ease;
        }

            .selectMultiple > div span.hide {
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translate(-4px, 0);
                transform: translate(-4px, 0);
            }

        .selectMultiple > div a {
            position: relative;
            padding: 0 24px 6px 8px;
            line-height: 28px;
            color: #1E2330;
            display: inline-block;
            vertical-align: top;
            margin: 0 6px 0 0;
        }

            .selectMultiple > div a em {
                font-style: normal;
                display: block;
                white-space: nowrap;
            }

            .selectMultiple > div a:before {
                content: '';
                left: 0;
                top: 0;
                bottom: 6px;
                width: 100%;
                position: absolute;
                display: block;
                background: #eaeaea;
                z-index: -1;
                border-radius: 4px;
            }

            .selectMultiple > div a i {
                cursor: pointer;
                position: absolute;
                top: 0;
                right: 0;
                width: 24px;
                height: 28px;
                display: block;
            }

                .selectMultiple > div a i:before, .selectMultiple > div a i:after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 10px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: #666;
                    border-radius: 1px;
                }

                .selectMultiple > div a i:before {
                    -webkit-transform: translate(-50%, -50%) rotate(45deg);
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                .selectMultiple > div a i:after {
                    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

            .selectMultiple > div a.notShown {
                opacity: 0;
                transition: opacity .3s ease;
            }

                .selectMultiple > div a.notShown:before {
                    width: 28px;
                    transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
                }

                .selectMultiple > div a.notShown i {
                    opacity: 0;
                    transition: all .3s ease .3s;
                }

                .selectMultiple > div a.notShown em {
                    opacity: 0;
                    -webkit-transform: translate(-6px, 0);
                    transform: translate(-6px, 0);
                    transition: all .4s ease .3s;
                }

                .selectMultiple > div a.notShown.shown {
                    opacity: 1;
                }

                    .selectMultiple > div a.notShown.shown:before {
                        width: 100%;
                    }

                    .selectMultiple > div a.notShown.shown i {
                        opacity: 1;
                    }

                    .selectMultiple > div a.notShown.shown em {
                        opacity: 1;
                        -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
                    }

            .selectMultiple > div a.remove:before {
                width: 28px;
                transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
            }

            .selectMultiple > div a.remove i {
                opacity: 0;
                transition: all .3s ease 0s;
            }

            .selectMultiple > div a.remove em {
                opacity: 0;
                -webkit-transform: translate(-12px, 0);
                transform: translate(-12px, 0);
                transition: all .4s ease 0s;
            }

            .selectMultiple > div a.remove.disappear {
                opacity: 0;
                transition: opacity .5s ease 0s;
            }

    .selectMultiple > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        z-index: 1;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        border-radius: .25rem;
        border: 1px solid #ddd;
        -webkit-transform: translate(0, 20px) scale(0.8);
        transform: translate(0, 20px) scale(0.8);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
        filter: drop-shadow(0 12px 20px rgba(22, 42, 90, 0.08));
        transition: all 0.4s ease, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), -webkit-filter 0.3s ease 0.2s;
        transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
        transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s, -webkit-transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), -webkit-filter 0.3s ease 0.2s;
    }

        .selectMultiple > ul li {
            color: #1E2330;
            background: #fff;
            padding: 12px 16px;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition: background .3s ease, color .3s ease, opacity .5s ease .3s, border-radius .3s ease .3s, -webkit-transform .3s ease .3s;
            transition: background .3s ease, color .3s ease, transform .3s ease .3s, opacity .5s ease .3s, border-radius .3s ease .3s;
            transition: background .3s ease, color .3s ease, transform .3s ease .3s, opacity .5s ease .3s, border-radius .3s ease .3s, -webkit-transform .3s ease .3s;
        }

            .selectMultiple > ul li:first-child {
                border-radius: 8px 8px 0 0;
            }

                .selectMultiple > ul li:first-child:last-child {
                    border-radius: 8px;
                }

            .selectMultiple > ul li:last-child {
                border-radius: 0 0 8px 8px;
            }

                .selectMultiple > ul li:last-child:first-child {
                    border-radius: 8px;
                }

            .selectMultiple > ul li:hover {
                background: #eaeaea;
                color: #1E2330;
            }

            .selectMultiple > ul li:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 6px;
                height: 6px;
                background: rgba(0, 0, 0, 0.4);
                opacity: 0;
                border-radius: 100%;
                -webkit-transform: scale(1, 1) translate(-50%, -50%);
                transform: scale(1, 1) translate(-50%, -50%);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
            }

            .selectMultiple > ul li.beforeRemove {
                border-radius: 0 0 8px 8px;
            }

                .selectMultiple > ul li.beforeRemove:first-child {
                    border-radius: 8px;
                }

            .selectMultiple > ul li.afterRemove {
                border-radius: 8px 8px 0 0;
            }

                .selectMultiple > ul li.afterRemove:last-child {
                    border-radius: 8px;
                }

            .selectMultiple > ul li.remove {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 0;
            }

                .selectMultiple > ul li.remove:after {
                    -webkit-animation: ripple .4s ease-out;
                    animation: ripple .4s ease-out;
                }

            .selectMultiple > ul li.notShown {
                display: none;
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 0;
                transition: opacity .4s ease, -webkit-transform .35s ease;
                transition: transform .35s ease, opacity .4s ease;
                transition: transform .35s ease, opacity .4s ease, -webkit-transform .35s ease;
            }

                .selectMultiple > ul li.notShown.show {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    opacity: 1;
                }

    .selectMultiple.open > div {
        box-shadow: 0 4px 20px -1px rgba(22, 42, 90, 0.12);
    }

        .selectMultiple.open > div .arrow:before {
            -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
        }

        .selectMultiple.open > div .arrow:after {
            -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
        }

    .selectMultiple.open > ul {
        -webkit-transform: translate(0, 12px) scale(1);
        transform: translate(0, 12px) scale(1);
        opacity: 1;
        visibility: visible;
        -webkit-filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
        filter: drop-shadow(0 16px 24px rgba(22, 42, 90, 0.16));
    }

@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(30, 30);
        transform: scale(30, 30);
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(50, 50);
        transform: scale(50, 50);
    }
}

@keyframes ripple {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(30, 30);
        transform: scale(30, 30);
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(50, 50);
        transform: scale(50, 50);
    }
}